version: '3.8'

services:
  zookeeper:
    image: zookeeper:3.9
    container_name: url-shortener-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - url-shortener-network

  redis:
    image: redis:7-alpine
    container_name: url-shortener-redis
    ports:
      - "6379:6379"
    networks:
      - url-shortener-network
    command: redis-server --appendonly yes

networks:
  url-shortener-network:
    driver: bridge

